body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto Slab", serif;
  margin: 0;
}
.container_hidden {
  overflow: hidden;
  position: relative;
}
.nav {
  align-items: center;
  display: flex;
  width: 100%;
  margin-top: 0.5%;
  position: absolute;
  top: 0;
}
.logo_img {
  width: calc(30px + 3.8%);
  border-radius: 50%;
  z-index: 1;
}
.logo_span {
  display: block;
}
.logo_link {
  margin-left: 3%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
.logo_text {
  align-items: center;
  margin-left: 1%;
  font-size: calc(11px + 0.3vw);
  z-index: 1;
  padding: 0.5em 0 0.5em 0;
}
.fa {
  padding: 10px;
}
@media (min-width: 992px) {
  .menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    position: absolute;
  }
  .menu_desktop_mobile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .menu-button {
    padding: 5px;
    text-decoration: none;
    color: black;
    margin-right: 50px;
    background: right / 0% 100% no-repeat linear-gradient(45deg, #5fa4bd, #4e90a6);
    border-radius: 25px;
    transition: background-size 0.4s;
  }
  .menu-button:hover {
    background: left / 100% 100% no-repeat linear-gradient(45deg, #5fa4bd, #4e90a6);
    border-radius: 25px;
  }
  /*Выпадающий список*/
  li {
    list-style: none;
    position: relative;
  }
  .menu-shop {
    position: absolute;
    display: none;
    padding-left: 0px;
  }
  .nav_btn:hover .menu-shop {
    display: block;
  }
  .menu-shop:hover li {
    display: block;
  }
  .menu-button_shop {
    margin-top: 10px;
  }
}
/*Кнопка мобильного меню*/
.menu-mobile {
  width: 40px;
  height: 40px;
  position: relative;
  background: rgba(0, 0, 0, 0);
  border: none;
  z-index: 2;
  display: none;
}
.menu-mobile {
  width: 40px;
  height: 40px;
  position: relative;
  background: rgba(0, 0, 0, 0);
  border: none;
  z-index: 2;
  display: none;
}
.menu-mobile span {
  position: absolute;
  width: 30px;
  height: 3px;
  background: black;
  left: 5px;
  transition: transform 0.4s, opacity 0.3s, background-color 0.3s;
}
.menu-mobile span:nth-child(1) {
  transform: translateY(-10px);
}
/*.menu-mobile span:nth-child(2) {
}*/
.menu-mobile span:nth-child(3) {
  transform: translateY(10px);
}
/*Крестик*/
.menu.open .menu-mobile span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.menu.open .menu-mobile span:nth-child(2) {
  opacity: 0;
}
.menu.open .menu-mobile span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}
@media (max-width: 992px) {
  ul {
    margin: 0;
  }
  /*мобильное меню*/
  .nav {
    display: flex;
  }
  .menu {
    display: block;
    background-color: #fafafa;
    position: absolute;
    top: 0;
    right: 0;
  }
  li {
    list-style: none;
    padding: 15px;
  }
  li a {
    text-decoration: none;
    color: #000;
  }
  .menu-shop {
    padding-left: 0;
    display: none;
  }
  .menu-mobile {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
  .menu_desktop_mobile {
    position: absolute;
    right: -150px;
    top: 0;
    background-color: #fafafa8d;
    width: 150px;
    display: block;
    z-index: 1;
    padding: 50px 0px 0 0;
    visibility: hidden;
    transition: transform 0.5s, visibility 0.5s;
  }
  .menu.open .menu_desktop_mobile {
    transform: translateX(-100%);
    visibility: visible;
  }
}
.title {
  margin-top: 15vw;
  font-size: calc(14px + 1.6vw);
  text-align: center;
}
/*работы desktop*/
@media (min-width: 992px) {
  .whole-gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 80px;
  }
  .whole-gallery,
  .whole-gallery * {
    box-sizing: border-box;
  }
  .gallery {
    padding: 0 15px;
    margin: 15px 0;
    width: 50%;
  }
  .gallery_inner {
    display: flex;
    position: relative;
    overflow: hidden;
  }
  .gallery_inner:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 2;
    content: "";
  }
  .gallery_inner:hover::before {
    opacity: 1;
  }
  .gallery_inner_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
  }
  .gallery_inner:hover .gallery_inner_img {
    transform: scale(1.05);
    transition: all 0.5s ease;
  }
  .gallery_inner_title {
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 24px;
    color: #ffffff;
    overflow: hidden;
    z-index: 3;
  }
  .gallery_inner_title > span {
    display: block;
    transform: translateY(30px);
    transition: transform 0.4s ease;
  }
  .gallery_inner:hover .gallery_inner_title > span {
    transform: translateY(0);
  }
}
/*работы mobile*/
@media (max-width: 992px) {
  .whole-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 8%;
  }
  .whole-gallery,
  .whole-gallery * {
    box-sizing: border-box;
  }
  .gallery {
    padding: 0 1.5%;
    margin: 1.5% 0;
    width: 50%;
  }
  .gallery_inner {
    display: flex;
    position: relative;
    overflow: hidden;
  }
  .gallery_inner:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000000e0 15%, transparent);
    content: "";
  }
  .gallery_inner_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .gallery_inner_title {
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: calc(10px + 1.6vw);
    color: #ffffff;
    z-index: 3;
  }
}
